<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJfZV6s_nCWD9jiiaT_xzRLIy0bCe9msQ</string>
	<key>GCM_SENDER_ID</key>
	<string>502258617680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleksiihermanchuk</string>
	<key>PROJECT_ID</key>
	<string>novaline-sports-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>novaline-sports-plus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502258617680:ios:536ed4a69aaab3cee0b055</string>
</dict>
</plist>